@import url('better/better.css');

body {
    color: #000000;
}

code {
    color: #000000;
}

dl {
	margin: 0px;
}

dl.field-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

dl.field-list dd {
	margin: 0px;
	flex-basis: 80%;
}

dl.field-list dt {
	font-weight: 600;
	flex-basis: 17%;
	display: block;
}

dl.field-list > dt:after {
	content: ":";
}

blockquote {
	font-style: normal;
	border-style: none;
	margin-left: 20px;
}

.py .pre {
    color: #0000A0;
}


pre {
    color: #000000;
}

html {
    font-size: 100%;
}

.page-header {
	display: none;
}

#content {
	padding-top: 100px;
	padding-bottom: 30px;
	margin: 0px auto;
}

table th {
	text-transform: none;
}

.property {
	display: none;
}

blockquote li p {
	margin: 0px;
}
